*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-list {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15%;
  background: blue;
  /* border-bottom: 1px solid transparent; */
  transition: all.45s ease;
  /* background-color: blue; */
}

.nav-list a {
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  /* margin: 0 25px; */
  /* transition: all.45s ease; */
}
li {
  place-self: center;
  display: grid;
}
.right-top {
  gap: 0.5em;
  display: flex;
}
.nav-list a:hover {
  color: skyblue;
}
.nav-list a {
  place-self: center;
}
.nav-list a.active {
  color: skyblue;
}
#menu-icon {
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
.appointment {
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: lightskyblue;
  color: blue;
  border: none;
}
.appointment:hover {
  background-color: skyblue;
  color: white;
}
span {
  color: darkblue;
}
.same {
  color: darkblue;
}
.diff {
  color: #5fbdff;
  font-size: 15px;
}
.list {
  display: flex;
  gap: 20px;
}
.aboutusimage{
    width: 100%;
    height: 500px;
}
form {
  background-color: darkblue;
  border-radius: 10px;
  width: 491px;
  height: 445px;
}
.Email {
  width: 245px;
  height: 50px;
  border: 1px solid white;
  background-color: darkblue;
}
.textarea {
  width: 491px;
  height: 190px;
  border: 1px solid white;
  background-color: darkblue;
}
.butt {
  width: 491px;
  height: 50px;
  border: 1px solid white;
  background-color: #3081d0;
}
.butt:hover {
  background-color: skyblue;
}
.row {
  display: flex;
}
.formpic {
  display: flex;
  margin: 10px;
}
.orders{
    font-size:20px;
    font-weight: 300;
    width: 500px;
}
.time ul{ 
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    /* background-color: red; */
    width:400px;   
} 
.formflex{
    display: flex;
    flex-direction: column;
}
.appointment_section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.time{
  background-color: darkblue;
}
.day{
  color: white;
  padding-inline: 20px;
  padding-block: 20px; 
}
.time{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 20px;
  padding-block: 20px;
}
.line{
  margin-top: 10px;
}
.direction{
  color: white;
  margin-top: 20px;
}
.map{
  padding: 22px 15%;
}
.contact-component {
  width: 200px;
  height: 200px;
  background-color: #c2d9ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-component:hover {
  background-color: #87c4ff;
}
.cont {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* justify-content: center; */
  /* text-align: center; */
}
.component {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-inline: auto;
  width: fit-content;
  height: fit-content;
}
.doctortext {
  text-align: center;
  margin-top: 50px;
}
.dress {
  padding-inline: 20px;
  padding-block: 20px;
  border-radius: 5px;
  background-color: #5fbdff;
  color: darkblue;
  border: none;
}
.dress:hover {
  background-color: #3081d0;
  color: white;
}
.cal {
  color: skyblue;
}
.lastsection {
  background-color: darkblue;
  margin-top: 50px;
  /* display: flex; */
}
.lastone,
.copyright {
  color: white;
}
.lastthree {
  display: flex;
  gap: 30px;
}
.everything,
.contactt {
  padding: 22px 15%;
}
.lastone,
.ptext {
  margin-top: 10px;
}
hr,
.copyright {
  margin-top: 30px;
}
.pict {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
}
.signin{
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  background-color: darkblue;
  color: white;
  border: none;
}
.signin:hover{
  background-color:#4694cb;
}
.login:hover{
  background-color:#87c4ff;
}
.login{
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  background-color:#c2d9ff;
  color: black;
  border: none;
}
@media (max-width: 1480px) {
  .nav-list {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  .nav-list.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
}
@media (max-width: 1120px){
  .component {
    flex-direction: column;
    place-items: center;
  }
  .contact-component {
    width: 300px;
    text-align: center;
  }
}
@media (max-width: 1140px) {
  .appointment_section{
    flex-direction: column;
    /* justify-content: center; */
  }
  /* .time{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 20px;
  padding-block: 20px;
} */
}
@media (max-width: 768px) {
  body {
    align-items: center;
    text-align: center;
  }

  .background-image {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  .nav_items {
    position: absolute;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    text-align: center;
    display: none;
    height: 0%;
    flex-direction: column;
    text-align: left;
    transition: all 300ms ease-in-out;
    padding-left: 20px;
    background-color: blue;
  }
  .right-top {
    height: 0%;
    position: absolute;
    position: fixed;
    top: 300px;
    flex-direction: column;
    display: none;
  }
  .new_list {
    height: 100%;
    display: block;
  }
  .main_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .list {
    width: 100%;
  }
  .menu-icon {
    place-self: center;
  }
  .nav-list a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all.45s ease;
  }
  .nav-list.open {
    top: 100%;
  }
  .open {
    display: block;
  }
  .onboarding {
    align-self: center;
    margin-top: 30px;
  }
  .onboarding .welcome {
    justify-content: center;
  }
  .mid_content {
    flex-direction: column;
  }
  .leftbox {
    flex-direction: row;
    margin-inline: auto;
  }
  .pict {
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }
  .appointment_section {
    flex-direction: column;
    background-image: none;
  }
  .component {
    flex-direction: column;
  }
  .contact-component {
    width: 300px;
  }
  .lastthree {
    flex-direction: column;
  }
  .appointment_form {
    transform: scaleX(0.8);
  }
}
