* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-list {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15%;
  background: blue;
  /* border-bottom: 1px solid transparent; */
  transition: all.45s ease;
  /* background-color: blue; */
}

.nav-list a {
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  /* margin: 0 25px; */
  /* transition: all.45s ease; */
}
li {
  place-self: center;
  display: grid;
}
.right-top {
  gap: 0.5em;
  display: flex;
}
.nav-list a:hover {
  color: skyblue;
}
.nav-list a {
  place-self: center;
}
.nav-list a.active {
  color: skyblue;
}
#menu-icon {
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  color: white;
}
.appointment {
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: lightskyblue;
  color: blue;
  border: none;
}
.appointment:hover {
  background-color: skyblue;
  color: white;
}
span {
  color: darkblue;
}
.same {
  color: darkblue;
}
.diff {
  color: #5fbdff;
  font-size: 15px;
}
.list {
  display: flex;
  gap: 20px;
}
.signin{
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  background-color: darkblue;
  color: white;
  border: none;
}
.signin:hover{
  background-color:#4694cb;
}
.login:hover{
  background-color:#87c4ff;
}
.login{
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  background-color:#c2d9ff;
  color: black;
  border: none;
}
.servimage{
    width: 100%;
}
.contact-component {
  width: 200px;
  height: 200px;
  background-color: #c2d9ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-component:hover {
  background-color: #87c4ff;
}
.cont {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* justify-content: center; */
  /* text-align: center; */
}
.component {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-inline: auto;
  width: fit-content;
  height: fit-content;
}
.dress {
  padding-inline: 20px;
  padding-block: 20px;
  border-radius: 5px;
  background-color: #5fbdff;
  color: darkblue;
  border: none;
}
.dress:hover {
  background-color: #3081d0;
  color: white;
}
.cal {
  color: skyblue;
}
.place {
  font-size: larger;
  font-weight: bold;
  color: darkblue;
  font: 1.5em sans-serif;
}
.med {
  color: blue;
  font-size: small;
}
.doctortext {
  text-align: center;
  margin-top: 50px;
}
.cad{
  width: 298px;
  height: 211px;
  border-radius: 10px;
}
.cadi{
  font-size: large;
  font-weight: 500;
  /* margin-right:65%; */
  width: 350px;
}
.offer{
  background-color: #3081d0;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding-block: 10%;
  padding-inline: 15%;
}



.of{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.er{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.lastsection {
  background-color: darkblue;
  margin-top: 50px;
  /* display: flex; */
}
.lastone,
.copyright {
  color: white;
}
.lastthree {
  display: flex;
  gap: 30px;
}
.everything,
.contactt {
  padding: 22px 15%;
}
.lastone,
.ptext {
  margin-top: 10px;
}
hr,
.copyright {
  margin-top: 30px;
}
.pict {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
}
@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
  .nav-list {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  .nav-list.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
}
@media (max-width: 1110px) {
  .offer{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
  .cadi{
    text-align: center;
    margin-inline: auto;
  }
  .component {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  .contact-component {
    width: 300px;
  }

}
@media (max-width: 768px) {
  body {
    align-items: center;
    text-align: center;
  }

  .background-image {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  #menu-icon {
    display: block;
  }
  .nav_items {
    position: absolute;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    z-index: -50;
    height: 0%;
    flex-direction: column;
    text-align: left;
    transition: all 300ms ease-in-out;
    padding-left: 20px;
    background-color: blue;
  }
  .right-top {
    height: 0%;
    position: absolute;
    position: fixed;
    top: 300px;
    flex-direction: column;
  }
  .new_list {
    height: 60%;
    opacity: 100;
     z-index: 1;
  }
  .main_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .list {
    width: 100%;
  }
  .menu-icon {
    place-self: center;
  }
  .nav-list a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all.45s ease;
  }
  .nav-list.open {
    top: 100%;
  }
  .open {
    display: block;
  } 
  }
  .mid_content {
    flex-direction: column;
  }
  .leftbox {
    flex-direction: row;
    margin-inline: auto;
  }
  .pict {
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }
  .component {
    flex-direction: column;
  }
  .contact-component {
    width: 300px;
  }
  .lastthree {
    flex-direction: column;
  }
}
