*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px; */

  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: transparent; */
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all.45s ease;
}
.header-elements{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.nav-list {
  display: flex;
  margin-top: 80px;
  width: 100%;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15%;
  /* border-bottom: 1px solid transparent; */
  transition: all.45s ease; 
  /* background-color: blue; */
}
.nav-list a {
  color: darkblue;
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all.45s ease;
}
.nav-list a:hover {
  color: blue;
}
.nav-list a.active {
  color: black;
}
li {
  list-style-type: none;
  overflow: hidden;
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
.appointment{
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: lightskyblue;
    color: blue;
    border: none;
}
.appointment:hover{
    background-color: darkblue;
    color: white;
}
span{
    color: darkblue;
}
.same{
    color: darkblue;
}
.diff{
    color: #5FBDFF;
    font-size: 15px;
}
.background-image{
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  margin-right:120px;
  margin-bottom: 40px;
  /* width: 1519px; */
}
.onboarding{
 margin-top: 30px;
 margin-left: 250px;
 /* display: flex; */
}
.services{
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: lightskyblue;
    color: blue;
    border: none;
    margin-top: 30px;
}
.services:hover{
    background-color: darkblue;
    color: white;
}
.text{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 50px;
  
}
.lead{
  font-size: xx-large;
  font-weight: bolder;
  color: darkblue;
}
.care{
  color: skyblue;
}
/* .together{
  margin-left: 30px;
} */
